.navbar{
	float: right;
	height: $s-size;
	display: flex;
	padding: 3px;
	padding-left: 0;
	border-radius: 10px;
	position: absolute;
	right: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	overflow-x: auto;
	overflow-y: hidden;
}

.navbar__expand-button{
	background-color: black;
	border-radius: 10px;
	color: white;
	padding: 5px;
	position: sticky;
	left: 0;
}

// animations

// .navbar-animation-enter{

// }

.navbar-expand-button-animation-enter-done{
	animation: Rotate180 0.3s cubic-bezier(.22,.53,.32,1);
	transform: rotateZ(180deg);
}

@keyframes Rotate180 {
	0%{
		transform: rotateZ(0);
	}
	100%{
		transform: rotateZ(180deg);
	}
}

@keyframes Rotate360 {
	0%{
		transform: rotateZ(180deg);
	}
	100%{
		transform: rotateZ(360deg);
	}
}

.navbar-expand-button-animation-exit-active{
	animation: Rotate360 0.3s cubic-bezier(.22,.53,.32,1);
}

.navbar-animation-enter::after{
	content: "";
	background: radial-gradient(farthest-corner at 0% 50%, white 0%, grey 30%, rgba(17, 17, 17, 0.8) 60%);
	width: 50%;
	height: 50%;
	position: relative;
	left: -10px;
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
}

.navbar-animation-enter-active{
	animation: increaseWidth $navbar-move-in ease-in;
}

.navbar-animation-enter-done{
	width: 50vw;
}

.navbar-animation-exit{
	width: 50vw;
	animation-name: decreaseWidth;
	animation-duration: $navbar-move-in;
	animation-timing-function: ease-in;
}

@keyframes increaseWidth {
	0%{
		width: 0;
	}
	100%{
		width: 50vw;
	}
}

@keyframes decreaseWidth {
	0%{
		width: 50vw;
	}
	100%{
		width: 0;
	}
}


.navbar__button-div{
	min-width: $xl-size;
	display: none;
}

.navbar__button{
	background-color: black;
	border: 2px solid white;
	border-radius: 30px;
	color: white;
	font-weight: bold;
	height: fit-content;
	padding: 5px 15px;
	box-sizing: border-box;
	text-decoration: none;
	font-size: small;
}

.navbar__button:hover{
	cursor: pointer;
	border: 4px solid white;
}

.navbar-button-animation-enter{
}

// .navbar-button-animation-enter-active{

// }

.navbar-button-animation-enter-done{
	animation: fadeIn $navbar-button-fade-in ease-in;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-button-animation-exit{
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.navbar-button-animation-exit-active{
	animation: fadeOut $navbar-button-fade-in ease-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0%{
		opacity: 1.0;
	}
	100% {
		opacity: 0;
	}
}